:root {
    --accent-color: blue;
    --color: white;
    --background-color: black;
    --nav-width: 150px;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
}

a {
    all: unset;
}

.hover {
    color: var(--color);
}

.hover:hover {
    color: var(--accent-color);
}

.hover-border {
    border: solid var(--color);
}

.hover-border:hover {
    border: solid var(--accent-color);
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main {
    height: 100%;
}
